*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
/app/playStore
/app/amazon
/app/cafeBazaar
/app/obfuscation
/app/src/main/dbschemas
google-services.json
.safedk