*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
/app/prodPlayStore
/app/prodAmazon
/app/prodCafeBazaar
/app/obfuscation
/app/src/main/dbschemas
google-services.json
.safedk