*.iml
.gradle
/gradle.properties
/local.properties
/.idea/shelf
/.idea/caches
/.idea/libraries
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
/.idea/modules
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
/app/obfuscation
/app/src/main/dbschemas
/app/google-services.json
.safedk