<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xeniac.warrantyroster_manager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--TODO change backup attributes to true before release-->
    <application
        android:name=".SubApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.WarrantyRoster">
        <activity
            android:name=".landingactivity.LandingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WarrantyRoster.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WarrantyRoster"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>