<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xeniac.warrantyroster_manager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <!--TODO CHANGE SUPPORT_RTL AFTER ADDING PERSIAN-->
    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.WarrantyRoster"
        tools:targetApi="s">
        <activity
            android:name=".ui.landing.LandingActivity"
            android:exported="true"
            android:theme="@style/Theme.WarrantyRoster.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.WarrantyRoster"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="hmVNBfwsMg8e9UdPEe6ZOWwE83xd2y2KUkDTlGBqx3DMlb0CUOK4f7AeBRRxh-QmzJneB-DPUA-cJuPFEZ7qWA"
            tools:replace="android:value" />
    </application>

</manifest>